<!-- <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">{{$ctrl.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div id="content" class="container-fluid" ng-bind-html="$ctrl.content"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">OK</button>
</div> -->


<form id="modal-edit-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Upload file</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="bt-doc control-label" for="" uib-tooltip="$ctrl.model" tooltip-trigger="mouseenter" tooltip-placement="right" ng-click="$ctrl.openModalDoc('doc/html/empty.html')">
                Charger un modèle de fiche prérempli
            </label>
            <select class="form-control input-sm" name="models" ng-options="key as model.name for (key, model) in $ctrl.models" ng-model="key" ng-change="$ctrl.loadModel(key)">
                <option value="">Sélectionnez un modèle</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="file_input" uib-tooltip="Fichier XML à charger" tooltip-trigger="mouseenter" tooltip-placement="right">
                    Charger une fiche à partir d'un fichier (XML)
                </label>
            <input type="file" id="file" />
        </div>
        <div class="form-group">
            <label class="control-label" for="url_input" uib-tooltip="URL à charger" tooltip-trigger="mouseenter" tooltip-placement="right">
                    Charger une fiche à partir d'un URL (XML)
                </label>
            <input class="form-control input-sm" type="text" id="url_input" ng-model="$ctrl.url" ng-init="$ctrl.url='https://www.cigalsace.org/geonetwork/srv/fre/xml.metadata.get?uuid=FR-130015258-20170629_md1_BDFPwms'" />
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="submit" class="btn btn-primary" ng-click="$ctrl.getUrl(modal.url_input)"><span class="glyphicon glyphicon-floppy-save"></span> Download URL</button> -->
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.getFile($ctrl.url)"><span class="glyphicon glyphicon-floppy-save"></span> Load file</button>
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.cancel()"><span class="glyphicon glyphicon-close"></span> Close</button>
    </div>
</form>