<div class="form-group has-feedback" ng-class="$ctrl.isValidField() ? '' : 'has-error'">
    <label class="control-label" for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit()">
        {{$ctrl.field.label}}
        <page-modal-button class="link" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}" text="{{$ctrl.field.helpButton.text}}"
            content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}">
            </modal-doc-button>
    </label>
    <div ng-if="$ctrl.field.editable == 'true' && $ctrl.edit">
        <input type="{{$ctrl.field.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
    </div>
    <div ng-if="$ctrl.field.editable == 'both' && $ctrl.edit">
        <div class="input-group">
            <input type="{{$ctrl.field.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
            <!-- <span class="input-group-btn"> -->
            <a class="input-group-addon btn btn-sm" ng-class="$ctrl.isValidField() ? 'btn-default' : 'btn-error'" type="button" ng-click="$ctrl.onBlur()">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </a>
            <!-- </span> -->
        </div>
    </div>
    <div ng-if="($ctrl.field.editable == 'false' || $ctrl.field.editable == 'both') && !($ctrl.edit)" ng-dblclick="$ctrl.changeEdit()">
        {{$ctrl.fieldValue}}
        <span ng-show="$ctrl.isEmptyField()" class="help-block">Champ non renseigné [T]</span>
    </div>
    <small ng-hide="$ctrl.isValidField()" class="help-block">Champ obligatoire [T]</small>
</div>

<!-- <div ng-if="$ctrl.tpl == 'title'">
    <div ng-if="$ctrl.field.editable == 'true' && $ctrl.edit">
        <input type="{{$ctrl.field.type}}" class="form-control input-lg" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
    </div>
    <div ng-if="$ctrl.field.editable == 'both' && $ctrl.edit">
        <div class="input-group">
            <input type="{{$ctrl.field.type}}" class="form-control input-lg" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button" ng-click="$ctrl.onBlur()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            </span>
        </div>
    </div>
    <div class="h2" ng-if="($ctrl.field.editable == 'false' || $ctrl.field.editable == 'both') && !($ctrl.edit)" ng-dblclick="$ctrl.changeEdit()">{{$ctrl.fieldValue}}</div>
</div> -->