<!-- <div class="row">
    <div class="col-md-4 form-group has-feedback" ng-class="$ctrl.isValidField(0) ? '' : 'has-error'">
        <md-form-element type="date" md="$ctrl.datecreation" field="$ctrl.field.dates.dateCreation" label="true" edit="true"
            space="md" update="$ctrl.updateDate(space, field, fieldValue, 'creation')" locales="$ctrl.locales"></md-form-element>
    </div>
    <div class="col-md-4 form-group has-feedback" ng-class="$ctrl.isValidField(0) ? '' : 'has-error'">
        <md-form-element type="date" md="$ctrl.dateedition" field="$ctrl.field.dates.dateEdition" label="true" edit="true"
            space="md" update="$ctrl.updateDate(space, field, fieldValue, 'edition')" locales="$ctrl.locales"></md-form-element>
    </div>
    <div class="col-md-4 form-group has-feedback" ng-class="$ctrl.isValidField(0) ? '' : 'has-error'">
        <md-form-element type="date" md="$ctrl.datepublication" field="$ctrl.field.dates.datePublication" label="true"
            edit="true" space="md" update="$ctrl.updateDate(space, field, fieldValue, 'publication')" locales="$ctrl.locales"></md-form-element>
    </div>
</div> -->
<!-- <md-form-element type="select" multi="true" md="$ctrl.mdjs"
    field="$ctrl.mdEditLocales.fields.dataLegalAccessInspireConstraints" label="true" edit="true" space="md"
    update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_InspireRestrictionCode"
    locales="$ctrl.mdEditLocales.locales"></md-form-element> -->
<!-- {{$ctrl.field.legalAccessInspireConstraint}} -->
<strong>** NON FONCTIONNEL **</strong>
<md-form-element type="select" multi="true" md="$ctrl.inspireConstraints"
    field="$ctrl.field.legalAccessInspireConstraint" label="true" edit="true" space="md"
    update="$ctrl.updateInspireConstraints(space, field, fieldValue)" list="$ctrl.list" locales="$ctrl.locales">
</md-form-element>