<!-- if format = button -->
<button type="button" ng-if="$ctrl.format == 'button'" class="btn btn-outline-dark" ng-click="$ctrl.getNextView()">
    <i class="fas {{$ctrl.views[$ctrl.view].icon}}">
    </i> <span class="d-none d-lg-inline">{{$ctrl.views[$ctrl.view].name[$ctrl.lang]}}</span>
</button>
<!-- if format = icon -->
<span ng-if="$ctrl.format == 'icon'" ng-click="$ctrl.getNextView()" class="">
    <i class="fas {{$ctrl.views[$ctrl.view].icon}}">
    </i>
</span>
<!-- if format = list -->
<div ng-if="$ctrl.format == 'list'" class="btn-group" uib-dropdown uib-tooltip="{{$ctrl.tooltip}}" tooltip-trigger="mouseenter" tooltip-placement="left">
    <button id="single-button" type="button" class="btn btn-outline-dark" uib-dropdown-toggle ng-disabled="disabled">
        <i class="fas {{$ctrl.views[$ctrl.view].icon}}">
        </i> <span class="d-none d-lg-inline">{{$ctrl.views[$ctrl.view].name[$ctrl.lang]}}</span> <span class="caret"></span>
    </button>
    <div class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="change-view-dropdown">
        <a href class="dropdown-item" ng-repeat="(key, view) in $ctrl.views" ng-if="key != $ctrl.view" ng-click="$ctrl.getView(key)">{{view.name[$ctrl.lang]}}
        </a>
    </div>
</div>