<div class="container">

    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-1">Assistant de sélection d'un formulaire</h1>
            <p class="lead text-muted">
                Vous ne savez pas par où commencer?
                Laissez-vous guider...
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form>
                <div>
                    <h5 class="mt-3">
                        Quel type de ressource souhaitez vous décrire ?
                    </h5>
                    <div ng-repeat="type in $ctrl.assistantLocales.resources_type track by $index" class="custom-control custom-radio">
                        <input type="radio"
                            ng-model="$ctrl.resource_type"
                            name="resource_type"
                            id="{{type.code}}"
                            ng-value="type.code"
                            class="custom-control-input"
                        >
                        <label class="custom-control-label" for="{{type.code}}">
                            {{type.name}} 
                            <!-- (modèle: {{type.model}}) -->
                        </label>
                    </div>
                </div>

                <div ng-show="$ctrl.resource_type == 'data'">
                    <h5 class="mt-3">
                        S'agit-il d'une donnée géographique ?
                    </h5>
                    <div ng-repeat="response_geo in $ctrl.assistantLocales.responses_geo track by $index" class="custom-control custom-radio">
                        <input type="radio"
                            ng-model="$ctrl.response_geo"
                            name="response_geo"
                            id="{{response_geo.code}}"
                            ng-value="response_geo.code"
                            class="custom-control-input"
                        >
                        <label class="custom-control-label" for="{{response_geo.code}}">
                            {{response_geo.name}} 
                            <!-- (modèle: {{response_geo.model}}) -->
                        </label>
                    </div>
                </div>

                <div ng-show="$ctrl.resource_type == 'data' && $ctrl.response_geo">
                    <h5 class="mt-3">
                        S'agit-il d'une donnée ouverte ?
                    </h5>
                    <div ng-repeat="response_opendata in $ctrl.assistantLocales.responses_opendata track by $index" class="custom-control custom-radio">
                        <input type="radio"
                            ng-model="$ctrl.response_opendata"
                            name="response_opendata"
                            id="{{response_opendata.code}}"
                            ng-value="response_opendata.code"
                            class="custom-control-input"
                        >
                        <label class="custom-control-label" for="{{response_opendata.code}}">
                            {{response_opendata.name}} 
                        </label>
                    </div>
                </div>

                <div ng-show="$ctrl.resource_type == 'map' || $ctrl.response_opendata">
                    <h5 class="mt-3">
                        Souhaitez-vous charger un modèle de fiche par défaut ?
                    </h5>
                    <div ng-repeat="response_model in $ctrl.assistantLocales.responses_model track by $index" class="custom-control custom-radio">
                        <input type="radio"
                            ng-model="$ctrl.response_model"
                            name="response_model"
                            id="{{response_model.code}}"
                            ng-value="response_model.code"
                            class="custom-control-input"
                        >
                        <label class="custom-control-label" for="{{response_model.code}}">
                            {{response_model.name}} 
                        </label>
                    </div>
                </div>

                <div ng-show="$ctrl.response_model == 'model-yes'" class="mt-3">
                    <p>
                        Vous pouvez, soit:
                    </p>
                    <div class="form-group mb-2">
                        <label class="control-label" for="model_server">
                            1. Charger un modèle de fiche prérempli
                        </label>
                        <select class="form-control input-sm" id="model_server" name="model_server" ng-options="key as model.name for (key, model) in $ctrl.appConfig.models"
                            ng-model="$ctrl.model_server">
                            <option value="">Sélectionnez un modèle</option>
                        </select>
                    </div>
                    <div class="form-group mb-2">
                        <label class="control-label" for="model_file">
                            2. Charger un fichier XML local depuis votre ordinateur
                        </label>
                        <div class="custom-file mb-2">
                            <input type="file" class="custom-file-input" id="model_file" name="model_file" ng-model="$ctrl.model_file" accept=".xml">
                            <label class="custom-file-label" id="model_file_label" for="model_file" uib-tooltip="Fichier XML à charger" tooltip-trigger="mouseenter"
                                tooltip-placement="right" data-browse="Sélectionner">
                                Sélectionner un fichier
                            </label>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="control-label" for="model_url" uib-tooltip="URL du fichier XML à charger" tooltip-trigger="mouseenter"
                            tooltip-placement="right">
                            3. Charger un fichier XML distant à partir d'un URL
                        </label>
                        <input class="form-control input-sm" type="text" id="model_url" name="model_url" ng-model="$ctrl.model_url" placeholder="https://..." />
                    </div>
                </div>

                <div class="float-right" ng-show="$ctrl.response_model">
                    <button type="submit" class="btn btn-primary" ng-click="$ctrl.loadForm()"><span class="fas fa-file-alt"></span> Ouvrir le formulaire</button>
                    <button type="submit" class="btn btn-primary" ui-sref="app.home" _ng-click="$ctrl.changeView('view-home')"><span class="fas fa-home"></span> Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>