{
    "presets": [
        ["env", {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "ie >= 9"
                    ]
                },
            "useBuiltIns": true,
            "debug": true
        }
    ]
],
"plugins": ["angularjs-annotate", "transform-class-properties", "transform-es2015-arrow-functions"]
}