<div id="content" class="container">
    <div uib-accordion close-others="false" class="col col-sm-12 panel-group">
        <form name="mdForm" novalidate>

            <!-- Panel 1 -->
            <!-- <div edit-accordion-header showfields="true"
                header="Informations sur la fiche de métadonnées"
                tooltip="Informations sur la fiche de métadonnées"
                doc="empty"> -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations sur la fiche de métadonnées" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter"
                        tooltip-placement="right">
                        Informations sur la fiche de métadonnées
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <div class="row">
                        <!-- mdFileIdentifier -->
                        <!-- <div class="col-md-4 form-group">
                            <md-form-element md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdFileIdentifier" edit="true"
                                update="$ctrl.update(field, fieldValue)"></md-form-element>
                        </div> -->
                        <div class="col-md-4 form-group">
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdFileIdentifier" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                        <!-- mdLanguage -->
                        <div class="col-md-4 form-group">
                            <md-form-element type="select" multi="false" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdLanguage" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_LanguageCode"></md-form-element>
                        </div>
                        <!-- mdStandardName -->
                        <div class="col-md-4 form-group">
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdStandardName" label="true"
                                edit="false" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <div class="row">
                        <!--mdHierarchyLevel -->
                        <div class="col-md-4 form-group">
                            <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdHierarchyLevel" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_ScopeCode"></md-form-element>
                        </div>
                        <!-- mdCharacterSet -->
                        <div class="col-md-4 form-group">
                            <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdCharacterSet" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_CharacterSetCode"></md-form-element>
                        </div>
                        <!-- mdStandardVersion -->
                        <div class="col-md-4 form-group">
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdStandardVersion" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <!-- mdDateStamp -->
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdDateStamp" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Panel 2 -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations relatives aux auteurs et contacts pour la fiche de métadonnées" tooltip-popup-close-delay="100"
                        tooltip-trigger="mouseenter" tooltip-placement="right">
                        Auteurs et contacts pour la fiche de métadonnées
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('mdContacts')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <!-- mdContacts -->
                <md-form-contacts multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.mdContacts" lists="$ctrl.mdEditLocales.codelists" update="$ctrl.update(space, field, fieldValue)"></md-form-contacts>
            </div>

            <!-- Panel 3 -->
            <!-- <div edit-accordion-header
                header="Description des données"
                tooltip="Informations relatives à la description des données"
                doc="empty"> -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations relatives à la description des données" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter"
                        tooltip-placement="right">
                        Description des données
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <!-- dataTitle -->
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- <div edit-input field="dataTitle" help="dataTitle"></div> -->
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataTitle" label="true"
                                edit="false" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <!-- dataAbstract -->
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- <div edit-textarea field="dataAbstract" help="dataAbstract"></div> -->
                            <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataAbstract" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-md-12 form-group">
                            <!-- dataIdentifiers -->
                            <md-form-identifiers multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataIdentifiers" label="true" update="$ctrl.update(space, field, fieldValue)"></md-form-identifiers>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-md-12 form-group">
                            <!-- dataBrowseGraphics -->
                            <!-- <div edit-data-browsegraphics multi="true" help="dataBrowseGraphics"></div> -->
                            <md-form-browsegraphics multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataBrowseGraphics" label="true" update="$ctrl.update(space, field, fieldValue)"></md-form-browsegraphics>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <!-- dataDates -->
                        <md-form-dates multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataDates" label="true" update="$ctrl.update(space, field, fieldValue)"></md-form-dates>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <!-- dataMaintenanceFrequencyCode -->
                            <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataMaintenanceFrequency" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_MaintenanceFrequencyCode"></md-form-element>
                        </div>
                    </div>
                    <div class="row" ng-show="true">
                        <hr />
                        <div class="col-md-12">
                            <!-- dataTemporalExtents -->
                            <!-- <div edit-data-temporal-extents multi="true" help="dataTemporalExtents"></div> -->
                            <md-form-temporalextents multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataExtents" label="true" update="$ctrl.update(space, field, fieldValue)"></md-form-temporalextents>
                        </div>
                    </div>
                    <div class="row" ng-show="true">
                        <hr />
                        <div class="col-md-6 form-group">
                            <!-- dataLanguages -->
                            <!-- <div edit-multi-select field="dataLanguages" list="MD_LanguageCode" multi="true"></div> -->
                            <md-form-element type="select" multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLanguages" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_LanguageCode"></md-form-element>
                        </div>
                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-md-6 form-group">
                            <!-- dataTopicCategories -->
                            <md-form-element type="select" multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataTopicCategories" label="true"
                                list="$ctrl.mdEditLocales.codelists.MD_TopicCategoryCode" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                        <div class="col-md-6 form-group">
                            TODO: dataInspireKeywords
                            <!-- <div edit-multi-select field="dataInspireKeywords" list="MD_InspireTopicCategoryCode" multi="true" help="dataInspireKeywords"></div> -->
                            <!-- <md-form-inspirekeywords multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataInspireKeywords" label="true" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_InspireTopicCategoryCode"></md-form-inspirekeywords> -->
                        </div>
                    </div>
                    <!-- dataKeywordsList -->
                    <!--<div class="row" ng-show="true">-->
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <hr /> TODO: dataKeywords
                            <!-- <div edit-data-keywords field="dataKeywords" multi="true" help="dataKeywords"></div> -->
                            <md-form-keywords multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataKeywords" label="true" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_KeywordTypeCode"></md-form-keywords>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Panel 4 -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations relatives aux contacts pour la base de données" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter"
                        tooltip-placement="right">
                        Contacts pour la base de données
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('dataPointsOfContacts')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <!-- dataPointOfContacts -->
                    <!-- <div edit-contacts cnt-type="dataPointOfContacts"></div> -->
                    <md-form-contacts multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataPointOfContacts" lists="$ctrl.mdEditLocales.codelists" update="$ctrl.update(space, field, fieldValue)"></md-form-contacts>
                </div>
            </div>

            <!-- Panel 5 -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations relatives aux références géographiques et à la qualité de la base de données" tooltip-popup-close-delay="100"
                        tooltip-trigger="mouseenter" tooltip-placement="right">
                        Références géographiques et qualité des données
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <!-- dataSpatialRepresentationType -->
                            <!-- <div edit-select field="dataSpatialRepresentationType" list="MD_SpatialRepresentationTypeCode" help="dataSpatialRepresentationType"></div> -->
                            <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataSpatialRepresentationType" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_SpatialRepresentationTypeCode"></md-form-element>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- dataGeographicExtents -->
                            <!-- <div edit-data-geographic-extents multi="true" help="dataGeographicExtents"></div> -->
                            <md-form-geographicextents multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataExtents" label="true" extents-file="{{$ctrl.extentsFile}}" update="$ctrl.update(space, field, fieldValue)"></md-form-geographicextents>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- dataReferenceSystems -->
                            <!-- <div edit-data-reference-systems field="dataReferenceSystems" multi="true" help="dataReferenceSystems"></div> -->
                            <md-form-referencesystems multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataReferenceSystems" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_ReferenceSystemCode"></md-form-referencesystems>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <!-- dataScaleDenominator -->
                            <!-- <div edit-input field="dataScaleDenominator" help="dataScale"></div> -->
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataScaleDenominator" label="true"
                                edit="false" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                        <div class="col-md-6 form-group">
                            <!-- dataScaleDistance -->
                            <!-- <div edit-input field="dataScaleDistance" help="dataScale"></div> -->
                            <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataScaleDistance" label="true"
                                edit="false" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- dataLiStatement -->
                            <!-- <div edit-textarea field="dataLiStatement" help="dataLiStatement"></div> -->
                            <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLiStatement" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <div class="row" ng-show="true">
                        <div class="col-md-12 form-group">
                            <!-- dataUseLimitations -->
                            <!-- <div edit-multi-textarea field="dataUseLimitations" multi="true" rows="1" help="dataUseLimitations"></div> -->
                            <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataUseLimitations" label="true"
                                edit="true" space="md" multi="true" update="$ctrl.update(space, field, fieldValue)"></md-form-element>
                        </div>
                    </div>
                    <!-- dataCharacterSet -->
                    <div class="row" ng-show="true">
                        <div class="col-md-12 form-group">
                            <!-- dataCharacterSet -->
                            <!-- <div edit-select field="dataCharacterSet" list="MD_CharacterSetCode" help="dataCharacterSet"></div> -->
                            <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataCharacterSet" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_CharacterSetCode"></md-form-element>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- dataDistributionFormats -->
                            <!-- <div edit-data-distribution-formats field="dataDistributionFormats" multi="true" help="dataDistributionFormats"></div> -->
                            <md-form-distributionformats multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataDistributionFormats" label="true" update="$ctrl.update(space, field, fieldValue)"></md-form-distributionformats>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Panel 6 -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations relatives aux conditions légales d'accès et d'usage de la base de données" tooltip-popup-close-delay="100"
                        tooltip-trigger="mouseenter" tooltip-placement="right">
                        Conditions légales d'accès et d'usage
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <!-- dataSecurityClassification -->
                            <!-- <div edit-select field="dataSecurityClassification" list="MD_ClassificationCode" help="dataSecurityClassification"></div> -->
                            <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataSecurityClassification" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_ClassificationCode"></md-form-element>
                        </div>
                    </div>
                    <!-- dataLegalAccessInspireConstraints -->
                    <div class="row">
                        <div class="col-md-12">
                            TODO: dataLegalAccessInspireConstraints
                            <!-- <div edit-multi-select field="dataLegalAccessInspireConstraints" list="MD_InspireRestrictionCode" multi="true" help="dataLegalAccessInspireConstraints"></div> -->
                            <!-- <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataUseLimitations" label="true" edit="true" space="md" multi="true" update="$ctrl.update(space, field, fieldValue)"></md-form-element> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            TODO: dataLegalAccessConstraints
                            <!-- <div edit-multi-select field="dataLegalAccessConstraints" list="MD_RestrictionCode" multi="true" help="dataLegalAccessConstraints"></div> -->
                            <!-- <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataUseLimitations" label="true" edit="true" space="md" multi="true" update="$ctrl.update(space, field, fieldValue)"></md-form-element> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            TODO: dataLegalUseConstraints
                            <!-- <div edit-multi-select field="dataLegalUseConstraints" list="MD_RestrictionCode" multi="true" help="dataLegalUseConstraints"></div> -->
                            <!-- <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataUseLimitations" label="true" edit="true" space="md" multi="true" update="$ctrl.update(space, field, fieldValue)"></md-form-element> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            TODO: dataLegalUseLimitations
                            <!-- <div edit-multi-textarea field="dataLegalUseLimitations" multi="true" rows="2" help="dataLegalUseLimitations"></div> -->
                            <!-- <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataUseLimitations" label="true" edit="true" space="md" multi="true" update="$ctrl.update(space, field, fieldValue)"></md-form-element> -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Panel 7 -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Ressorces associées à la base de données" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter"
                        tooltip-placement="right">
                        Ressources associées
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- dataLinkages -->
                            <!-- <div edit-data-linkages field="dataLinkages" multi="true" help="dataLinkages"></div> -->
                            <md-form-linkages multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLinkages" label="true"
                                edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" protocols="$ctrl.mdEditLocales.codelists.MD_LinkageProtocolCode"></md-form-linkages>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Panel 8 -->
            <div uib-accordion-group is-open="false" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Conformité de la base de données" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter" tooltip-placement="right">
                        Conformités
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    TODO: conformité
                    <br /> - Spécifications Inspire
                    <br /> - Autres spécifications
                    <br />
                </div>
            </div>

        </form>
    </div>
</div>
{{$ctrl.mdjs}}