<!-- Single field -->
<!-- {{$ctrl.md}} -->
<div ng-if="$ctrl.multi != 'true'" ng-repeat="(key, fieldValue) in $ctrl.fieldValue track by $index" class="form-group has-feedback" ng-class="$ctrl.isValidField() ? '' : 'has-error'">
    <label ng-if="$ctrl.label.toLowerCase() == 'true'" class="control-label" for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(key)" ng-class="$ctrl.isValidField() ? '' : 'text-danger font-weight-bold'">
        {{$ctrl.field.label}}
        <page-modal-button ng-if="$ctrl.field.helpButton.contentUrl" format="{{$ctrl.field.helpButton.format}}"
            title="{{$ctrl.field.helpButton.title}}" text="{{$ctrl.field.helpButton.text}}"
            content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}">
        </page-modal-button>
    </label>
    <!-- <a class="" aria-hidden="true" ng-click="$ctrl.multi = 'true'"><small>(multi)</small></a> -->
    <div ng-if="$ctrl.field.editable == 'true' && $ctrl.isEdited[key]">
        <input ng-if="!$ctrl.list" type="{{$ctrl.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue[key]" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur(key, fieldValue)"
            ng-change="$ctrl.onChange(key)" title="fieldValue" />
        <input ng-if="$ctrl.list" type="{{$ctrl.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue[key]" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur(key, fieldValue)"
            ng-change="$ctrl.onChange(key)" uib-typeahead="item as item.name + ' (' + item.description+')' for item in $ctrl.list | filter:$viewValue | limitTo:8" typeahead-on-select="$ctrl.onSelectItem($item, $model, $label, $index)" typeahead-select-on-blur="true"
            title="fieldValue" />
    </div>
    <div ng-if="$ctrl.field.editable == 'both' && $ctrl.isEdited[key]">
        <div class="input-group">
            <!-- If not list -->
            <input ng-if="!$ctrl.list" type="{{$ctrl.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue[key]" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur(key, fieldValue)"
                ng-change="$ctrl.onChange(key)" title="fieldValue" />
            <!-- If list: autocompletion -->
            <input ng-if="$ctrl.list" type="{{$ctrl.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue[key]" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur(key, fieldValue)"
                ng-change="$ctrl.onChange(key)" uib-typeahead="item as item.name + ' (' + item.description+')' for item in $ctrl.list | filter:$viewValue | limitTo:8" typeahead-on-select="$ctrl.onSelectItem($item, $model, $label, $index)" typeahead-select-on-blur="true"
                title="fieldValue" />
            <div class="input-group-append">
                <a ng-class="$ctrl.isValidField() ? 'btn-outline-dark' : 'btn-outline-error'" role="button" ng-click="$ctrl.onBlur(key, fieldValue)" class="btn input-group-text" aria-hidden="true">
                    <i class="fas fa-check"></i>
                </a>
            </div>
        </div>
    </div>
    <div ng-if="($ctrl.field.editable == 'false') || ($ctrl.field.editable == 'both' && !$ctrl.isEdited[key])" ng-dblclick="$ctrl.changeEdit(key)">
        <span ng-class="$ctrl.field.disabled ? 'text-muted' : ''" ng-if="$ctrl.type=='date'">{{fieldValue.toISOString().slice(0,
            10)}}</span>
        <span ng-class="$ctrl.field.disabled ? 'text-muted' : ''" ng-if="$ctrl.type=='datetime-local'">{{fieldValue.toISOString()}}</span>
        <span ng-class="$ctrl.field.disabled ? 'text-muted' : ''" ng-if="$ctrl.type=='text'">{{fieldValue}}</span>
        <span ng-show="$ctrl.isEmptyField(key)" class="help-block">{{$ctrl.locales.empty}}</span>
    </div>
    <!-- <small ng-hide="$ctrl.isValidField()" class="help-block text-danger">{{$ctrl.locales.mandatory}}</small> -->
</div>

<!-- Multi field: use table -->
<table class="table table-sm" ng-if="$ctrl.multi == 'true'">
    <tr ng-if="$ctrl.label.toLowerCase() == 'true'">
        <td>
            <label class="control-label" ng-class="$ctrl.isValidField() ? '' : 'text-danger font-weight-bold'" for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.label}}
                <page-modal-button format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}"
                    text="{{$ctrl.field.helpButton.text}}" content-url="$ctrl.field.helpButton.contentUrl"
                    icon="{{$ctrl.field.helpButton.icon}}">
                </page-modal-button>
                <!-- <small ng-hide="$ctrl.isValidField()" class="text-danger">{{$ctrl.locales.mandatory}}</small> -->
            </label>
        </td>
        <td>
            <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.addItem()"></button>
        </td>
    </tr>
    <tr ng-if="fieldValue !== undefined" ng-repeat="(key, fieldValue) in $ctrl.fieldValue track by $index" class="form-group has-feedback" ng-class="$ctrl.isValidField() ? '' : 'has-error'">
        <td>
            <div ng-if="$ctrl.field.editable == 'true' && $ctrl.isEdited[key]">
                <input type="{{$ctrl.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue[key]" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur(key, fieldValue)"
                    ng-change="$ctrl.onChange(key)" />
            </div>
            <div ng-if="($ctrl.field.editable == 'both') && $ctrl.isEdited[key]">
                <div class="input-group my-group">
                    <input type="{{$ctrl.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue[key]" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur(key, fieldValue)"
                        ng-change="$ctrl.onChange(key)" />
                    <div class="input-group-append">
                        <a ng-class="$ctrl.isValidField() ? 'btn-outline-dark' : 'btn-outline-error'" role="button" ng-click="$ctrl.onBlur(key, fieldValue)" class="btn input-group-text" aria-hidden="true">
                            <i class="fas fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-if="($ctrl.field.editable == 'false') || ($ctrl.field.editable == 'both' && !$ctrl.isEdited[key])" ng-dblclick="$ctrl.changeEdit(key)">
                <span ng-class="$ctrl.field.disabled ? 'text-muted' : ''">{{fieldValue}}</span>
                <span ng-show="$ctrl.isEmptyField(key)" class="help-block">{{$ctrl.locales.empty}}</span>
            </div>
        </td>
        <td>
            <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-minus" aria-hidden="true" ng-click="$ctrl.removeItem(key)"></button>
        </td>
    </tr>
</table>