Items: {{$ctrl.field.label}}
<div>
    <md-form-item ng-if="item" ng-repeat="(key, item) in $ctrl.items track by $index" multi="{{$ctrl.multi}}" item="{key: key, value: item}" fields="$ctrl.field" codelists="$ctrl.codelists" update-contact="$ctrl.updateContacts(key, item)" key="{{key}}" remove-item="$ctrl.onRemoveitem(key)"></md-form-item>
    <div class="row" ng-if="$ctrl.multi == 'true'">
        <div class="col-md-12 btn-toolbar">
            <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" aria-hidden="true" ng-click="$ctrl.onAddItem()"></button>
        </div>
    </div>
</div>

<!-- {{ $ctrl.contacts }} -->