<div>
    <div class="row">
        <!-- DONE: contacts.role -->
        <div class="col-md-5">
            <md-form-element type="select" md="$ctrl.contact.value" field="$ctrl.fields.role" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" list="$ctrl.lists.CI_RoleCode" locales="$ctrl.locales"></md-form-element>
        </div>
        <!-- TODO: toolbar -->
        <div class="col-md-7" ng-if="$ctrl.multi == 'true'">
            <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <button type="button" class="btn btn-outline-dark btn-sm fas fa-clone" aria-hidden="true" ng-click="$ctrl.cloneCnt($ctrl.key)" title="Cloner le contact"></button>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Seconde group">
                    <button type="button" class="btn btn-outline-dark btn-sm fas fa-copy" aria-hidden="true" ng-click="$ctrl.duplicateCnt($ctrl.key)" title="Copier le contact vers données/métadonnées"></button>
                </div>
                <div class="btn-group" role="group" aria-label="Third group">
                    <button type="button" class="btn btn-outline-dark btn-sm fas fa-minus" aria-hidden="true" ng-click="$ctrl.removeCnt($ctrl.key)" title="Supprimer le contact"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <!-- DONE: contacts.individualName -->
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.individualName" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales"></md-form-element>
            <!-- DONE: contacts.positionName -->
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.positionName" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales"></md-form-element>
            <!-- DONE: contacts.organisationName -->
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.organisationName" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales">
            </md-form-element>
        </div>
        <div class="col-md-7">
            <!-- DONE: contacts.deliveryPoint -->
            <md-form-element type="textarea" md="$ctrl.contact.value" field="$ctrl.fields.deliveryPoints" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue, '\n')" locales="$ctrl.locales"></md-form-element>
            <div class="row">
                <!-- DONE: contacts.postalCode -->
                <div class="col-md-4">
                    <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.postalCode" label="true" edit="true" space="md" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales">
                    </md-form-element>
                </div>
                <!-- DONE: contacts.city -->
                <div class="col-md-8">
                    <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.city" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales">
                    </md-form-element>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.fields.logoDescription.display !== 'none'">
        <!-- DONE: logo -->
        <div class="col-md-5">
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.logoUrl" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales">
            </md-form-element>
        </div>
        <div class="col-md-5">
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.logoDescription" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales"></md-form-element>
        </div>
        <div class="col-md-2">
            <md-form-image md="$ctrl.contact.value" field="$ctrl.fields.logoUrl" space="md" locales="$ctrl.locales"></md-form-image>
        </div>
    </div>
    <div class="row" ng-if="$ctrl.fields.logoDescription.display == 'none'">
        <!-- DONE: logo -->
        <div class="col-md-10">
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.logoUrl" space="md" label="true" edit="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales">
            </md-form-element>
        </div>
        <div class="col-md-2">
            <md-form-image md="$ctrl.contact.value" field="$ctrl.fields.logoUrl" space="md" locales="$ctrl.locales"></md-form-image>
        </div>
    </div>
    <div class="row">
        <!-- DONE: contacts.phoneVoice -->
        <div class="col-md-5">
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.phoneVoices" label="true" edit="true" multi="true" space="md" update="$ctrl.onSave(space, field, fieldValue, '|')" locales="$ctrl.locales">
            </md-form-element>
        </div>
        <!-- DONE: contacts.email -->
        <div class="col-md-7">
            <md-form-element type="text" md="$ctrl.contact.value" field="$ctrl.fields.emails" space="md" label="true" edit="true" multi="true" update="$ctrl.onSave(space, field, fieldValue)" locales="$ctrl.locales">
            </md-form-element>
        </div>
    </div>
    <hr />
</div>