<div ng-if="$ctrl.tpl == 'grid'">
    <a style="color:#444444; font-size:1.1em; display:block;" ng-click="$ctrl.viewMd(($ctrl.md | getValue:'getRecords':'mdFileIdentifier' | toString), ($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString), ($ctrl.md | getValue:'getRecords':'dataKeywords.keywords|srvKeywords.keywords'))">
        <div style="min-height:4.2em;" popover-trigger="'mouseenter'" uib-popover-template="'csw-card-popover.html'" popover-placement="auto">
            <strong>
                {{$ctrl.md | getValue:'getRecords':'dataTitle|srvTitle' | toString | truncate:65:true }}
            </strong>
        </div>
        <div class="thumbnail">
            <div class="image" ng-repeat="dataBrowseGraphic in $ctrl.md | getValue:'getRecords':'dataBrowseGraphics|srvBrowseGraphics' | limitTo:1 track by $index">
                <img class="img-rounded img-responsive" ng-src="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileName' | toString}}"
                    alt="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileDescription' | toString}}" />
            </div>
            <div class="labels caption pull-right" ng-if="($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString) != 'service'">
                <span title="{{$ctrl.locales.opendata}}" class="label label-success pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataKeywords.keywords' | arrayContains:'données ouvertes':'contains'">{{$ctrl.locales.opendata}}</span>
                <span title="{{$ctrl.locales.wfs}}" class="label label-warning pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wfs':'contains'">{{$ctrl.locales.wfs}}</span>
                <span title="{{$ctrl.locales.wms}}" class="label label-primary pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wms':'contains'">{{$ctrl.locales.wms}}</span>
            </div>
            <div class="labels caption pull-right" ng-if="($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString) == 'service'">
                <span title="{{$ctrl.locales.service_wfs}}" class="label label-warning pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wfs':'contains'">{{$ctrl.locales.service_wfs}}</span>
                <span title="{{$ctrl.locales.service_wms}}" class="label label-primary pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wms':'contains'">{{$ctrl.locales.service_wms}}</span>
            </div>
        </div>
    </a>

    <script type="text/ng-template" id="csw-card-popover.html">
        <div style="text-align:left;">
            <div>
                <strong>{{$ctrl.locales.title}}:</strong> {{$ctrl.md | getValue:'getRecords':'dataTitle|srvTitle' | toString }}
            </div>
            <div>
                <strong>{{$ctrl.locales.abstract}}:</strong>
                {{$ctrl.md | getValue:'getRecords':'dataAbstract|srvAbstract' | toString | truncate:250:true }}
            </div>
            <div>
                <strong>{{$ctrl.locales.keywords}}:</strong>
                <span ng-repeat="keywords in $ctrl.md | getValue:'getRecords':'dataKeywords|srvKeywords' track by $index">
                    {{keywords | getValue:'getRecords':'keywords' | toString:', '}}
                    <!-- {{$last ? '' : ', '}} -->
                </span>
                <span>{{$ctrl.md | getValue:'getRecords':'dataTopicCategories.topicCategory|srvTopicCategories.topicCategory' |
                    translate:$ctrl.topicCategories | toString}}</span>
            </div>
        </div>
    </script>
</div>

<!-- --------------------------------------------------------------------------------------------------- -->
<div ng-if="$ctrl.tpl == 'list'">
    <div class="thumbnail col-lg-2 col-md-3 col-sm-4 col-xs-2" ng-repeat="dataBrowseGraphic in $ctrl.md | getValue:'getRecords':'dataBrowseGraphics|srvBrowseGraphics' | limitTo:1 track by $index">
        <img class="img-rounded img-responsive" ng-src="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileName' | toString}}"
            alt="{{dataBrowseGraphic | getValue:'getRecords':'browseGraphicFileDescription' | toString}}" />
    </div>
    <!-- <div class="thumbnail col-lg-2 col-md-3 col-sm-4 col-xs-2">
        <img class="img-rounded img-responsive" height="" ng-src="{{$ctrl.md.dataBrowseGraphics.dataBrowseGraphicName}}" alt="{{$ctrl.md.dataBrowseGraphics.dataBrowseGraphicDescription}}">
    </div> -->
    <div class="col-lg-10 col-md-9 col-sm-8 col-xs-10">
        <h4 class="">
            <strong>
                <a ng-click="$ctrl.viewMd(($ctrl.md | getValue:'getRecords':'mdFileIdentifier' | toString), ($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString), ($ctrl.md | getValue:'getRecords':'dataKeywords.keywords|srvKeywords.keywords'))">
                    {{$ctrl.md | getValue:'getRecords':'dataTitle|srvTitle' | toString | truncate:70:true }}
                </a>
            </strong>
        </h4>
        <p>{{$ctrl.md | getValue:'getRecords':'dataAbstract|srvAbstract' | toString | truncate:300:true }}</p>
        <div class="labels pull-left">
            <!-- TODO -->
            <div class="label label-warning" ng-repeat="keyword in $ctrl.md | getValue:'getRecords':'dataKeywords.keywords|srvKeywords.keywords' track by $index">
                {{keyword}}
            </div>

            <div class="label label-info" ng-repeat="topicCategory in $ctrl.md | getValue:'getRecords':'dataTopicCategories.topicCategory|srvTopicCategories.topicCategory' | translate:$ctrl.topicCategories track by $index"
                ng-if="(topicCategory | toString) != ''">
                {{topicCategory | toString}}
            </div>
        </div>
        <div class="labels pull-right" ng-if="($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString) != 'service'">
            <span title="{{$ctrl.locales.opendata}}" class="label label-success pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataKeywords.keywords' | arrayContains:'données ouvertes':'contains'">{{$ctrl.locales.opendata}}</span>
            <span title="{{$ctrl.locales.wfs}}" class="label label-warning pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wfs':'contains'">{{$ctrl.locales.wfs}}</span>
            <span title="{{$ctrl.locales.wms}}" class="label label-primary pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wms':'contains'">{{$ctrl.locales.wms}}</span>
        </div>
        <div class="labels pull-right" ng-if="($ctrl.md | getValue:'getRecords':'mdHierarchyLevel' | toString) == 'service'">
            <span title="{{$ctrl.locales.service_wfs}}" class="label label-warning pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wfs':'contains'">{{$ctrl.locales.service_wfs}}</span>
            <span title="{{$ctrl.locales.service_wms}}" class="label label-primary pull-right" ng-if="$ctrl.md | getValue:'getRecords':'dataLinkages.protocol' | arrayContains:'wms':'contains'">{{$ctrl.locales.service_wms}}</span>
        </div>
    </div>
    <hr/>
</div>