<div class="form-group has-feedback" ng-class="$ctrl.isValidField(0) ? '' : 'has-error'">
    <div class="w-100">
        <span class="h5" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right">{{$ctrl.field.label}}</span>
        <page-modal-button ng-if="$ctrl.field.helpButton.contentUrl" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}" text="{{$ctrl.field.helpButton.text}}" content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}"></page-modal-button>
        <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.onAddConformity()"></button>
    </div>
    <md-form-conformity ng-repeat="(key, conformity) in $ctrl.conformities track by $index" multi="{{$ctrl.multi}}" conformity="conformity" fields="$ctrl.field.conformity" update-conformity="$ctrl.updateConformities(key, conformity)" key="{{key}}" remove-conformity="$ctrl.onRemoveConformity(key)"
        pass="$ctrl.pass" locales="$ctrl.locales"></md-form-conformity>
</div>