<!-- Default template -->
<div ng-if="$ctrl.tpl != 'title'">
    <div class="form-group has-feedback" ng-class="$ctrl.isValidField() ? '' : 'has-warning'">
        <!-- Label -->
        <label class="control-label" for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter"
            tooltip-placement="right" ng-dblclick="$ctrl.changeEdit()">
            {{$ctrl.field.label}}
            <page-modal-button class="link" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}" text="{{$ctrl.field.helpButton.text}}"
                content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}">
                </modal-doc-button>
        </label>

        <!-- Simple editor -->
        <div ng-if="$ctrl.field.editable == 'true' && $ctrl.edit">
            <!-- Input -->
            <input ng-if="$ctrl.field.type != 'select' && $ctrl.field.type != 'textarea'" type="{{$ctrl.field.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}"
                ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
            <!-- Select -->
            <select ng-if="$ctrl.field.type == 'select'" class="form-control input-sm" name="{{$ctrl.field.name}}" id="{{$ctrl.field.name}}" ng-options="item.name as item.value for item in $ctrl.list"
                ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()">
                <option ng-init="$ctrl.fieldValue = $ctrl.fieldValue || item[0].value" value="">{{$ctrl.field.placeholder}}</option>
            </select>
            <!-- Textarea -->
            <textarea ng-if="$ctrl.field.type == 'textarea'" rows="3" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}"
            ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()"></textarea>
        </div>
        
        <!-- Editor and text -->
        <div ng-if="$ctrl.field.editable == 'both' && $ctrl.edit">
            <div class="input-group">
                <!-- Input -->
                <input ng-if="$ctrl.field.type != 'select' && $ctrl.field.type != 'textarea'" type="{{$ctrl.field.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
                <!-- Select -->
                <select ng-if="$ctrl.field.type == 'select'" class="form-control input-sm" name="{{$ctrl.field.name}}" id="{{$ctrl.field.name}}" ng-options="item.name as item.value for item in $ctrl.list"
                ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()">
                    <option ng-init="$ctrl.fieldValue = $ctrl.fieldValue || item[0].value" value="">{{$ctrl.field.placeholder}}</option>
                </select>
                <!-- Textarea -->
                <textarea ng-if="$ctrl.field.type == 'textarea'"" rows="3" style="resize:vertical" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}"
                placeholder="{{$ctrl.field.placeholder}}" ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled"
                ng-blur="$ctrl.onBlur()"></textarea>
                <!-- <span class="input-group-btn"> -->
                    <a class="input-group-addon btn btn-sm" ng-class="$ctrl.isValidField() ? 'btn-default' : 'btn-error'" type="button" ng-click="$ctrl.onBlur()">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </a>
                <!-- </span> -->
            </div>
        </div>
        
        <!-- Text -->
        <div ng-if="($ctrl.field.editable == 'false' || $ctrl.field.editable == 'both') && !($ctrl.edit)" ng-dblclick="$ctrl.changeEdit()">
            <!-- Input && Select -->
            <span ng-if="$ctrl.field.type != 'textarea'>{{$ctrl.fieldValue}}</span>
            <!-- Textarea -->
            <span ng-if="$ctrl.field.type == 'textarea' ng-bind-html="$ctrl.fieldValue | nl2br"></span>
            <span ng-show="$ctrl.isEmptyField()" class="help-block">Champ non renseigné [T]</span>
        </div>
        
        <span ng-hide="$ctrl.isValidField()" class="help-block">Champ obligatoire [T]</span>
    </div>
</div>

<!-- <div ng-if="$ctrl.tpl == 'date'">
    <div class="form-group">
    <label for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right"
        ng-dblclick="$ctrl.changeEdit()">
        {{$ctrl.field.label}}
        <page-modal-button class="link" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}" text="{{$ctrl.field.helpButton.text}}"
            content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}">
            </modal-doc-button>
    </label>
    <div ng-if="$ctrl.field.editable == 'true' && $ctrl.edit" class="input-group date">
        <input type="{{$ctrl.field.type}}" class="form-control input-sm" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.field.isopen" datepicker-options="{startingDay: 1}" close-text="Close" ng-model="$ctrl.fieldValue" name="{{$ctrl.field.name}}" id="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm" ng-click="$ctrl.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
    </div>
    <div ng-if="$ctrl.field.editable == 'both' && $ctrl.edit">
        <div class="input-group">
            <input type="{{$ctrl.field.type}}" class="form-control input-sm" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}"
                ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" ng-click="$ctrl.onBlur()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
    <div ng-if="($ctrl.field.editable == 'false' || $ctrl.field.editable == 'both') && !($ctrl.edit)" ng-dblclick="$ctrl.changeEdit()">{{$ctrl.fieldValue}}</div>
</div>
</div>
 -->

<!-- Title template -->
<div ng-if="$ctrl.tpl == 'title'">
    <div ng-if="$ctrl.field.editable == 'true' && $ctrl.edit">
        <input type="{{$ctrl.field.type}}" class="form-control input-lg" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}"
            ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
    </div>
    <div ng-if="$ctrl.field.editable == 'both' && $ctrl.edit">
        <div class="input-group">
            <input type="{{$ctrl.field.type}}" class="form-control input-lg" id="{{$ctrl.field.name}}" name="{{$ctrl.field.name}}" placeholder="{{$ctrl.field.placeholder}}"
                ng-model="$ctrl.fieldValue" ng-disabled="$ctrl.field.disabled" ng-blur="$ctrl.onBlur()" />
            <span class="input-group-btn">
                <button class="btn btn-default btn-lg" type="button" ng-click="$ctrl.onBlur()">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="h2" ng-if="($ctrl.field.editable == 'false' || $ctrl.field.editable == 'both') && !($ctrl.edit)" ng-dblclick="$ctrl.changeEdit()">{{$ctrl.fieldValue}}</div>
</div>