<label class="control-label" for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right">
    {{$ctrl.field.label}}
    <page-modal-button class="link" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}" text="{{$ctrl.field.helpButton.text}}"
        content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}">
        </modal-doc-button>
</label>
<div ng-switch="$ctrl.type">
    <!-- <md-form-element ngif="item" ng-repeat="(key, item) in $ctrl.items track by $index" multi="{{$ctrl.multi}}" type="{{$ctrl.type}}" field-value="item | getValue:'md':'topicCategory'| toString" field="$ctrl.field" list="$ctrl.list" edit="$ctrl.edit" space="md" update="$ctrl.onUpdateItem(key, contact)" key="{{key}}" remove-item="$ctrl.onRemoveItem(key)"></md-form-element> -->

    <!-- {{$ctrl.list}} -->
    <md-form-element ng-switch-when="select" ng-if="item" ng-repeat="(key, item) in $ctrl.items track by $index" type="select"
        field-value="item | getValue:'md':'topicCategory'| toString" field="$ctrl.field" edit="$ctrl.edit" multi="{{$ctrl.multi}}"
        space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.list"></md-form-element>

    <md-form-element ng-switch-when="textarea" ng-if="item" ng-repeat="(key, item) in $ctrl.items track by $index" type="textarea"
        field-value="item | getValue:'md':'topicCategory'| toString" field="$ctrl.field" edit="$ctrl.edit" multi="{{$ctrl.multi}}"
        space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.list"></md-form-element>

    <md-form-element ng-switch-default ng-if="item" ng-repeat="(key, item) in $ctrl.items track by $index" type="text" field-value="item | getValue:'md':'topicCategory'| toString"
        field="$ctrl.field" edit="$ctrl.edit" multi="{{$ctrl.multi}}" space="md" update="$ctrl.update(space, field, fieldValue)"
        list="$ctrl.list"></md-form-element>

    <div class="row" ng-if="$ctrl.multi == 'true'">
        <div class="col-md-12 btn-toolbar">
            <button type="button" class="btn btn-default btn-xs pull-right glyphicon glyphicon-plus" aria-hidden="true" ng-click="$ctrl.onAddItem()"></button>
        </div>
    </div>
</div>

<!-- {{$ctrl.items}} -->
<!-- {{ $ctrl.contacts }} -->