<!-- dataLegalAccessInspireConstraints -->
<div class="row">
    <div class="col-md-12">
        <!-- dataLegalAccessInspireConstraints -->
        <md-form-element type="select" multi="true" md="$ctrl.legalConstraints.dataLegalAccessInspireConstraints" field="$ctrl.field.dataLegalAccessInspireConstraints" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.listInspireRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
        <!-- <md-form-inspireconstraints type="select" multi="true" md="$ctrl.mdjs"
            field="$ctrl.mdEditLocales.fields.dataLegalAccessInspireConstraints"
            label="true" edit="true" space="md"
            update="$ctrl.update(space, field, fieldValue)"
            list="$ctrl.mdEditLocales.codelists.MD_InspireRestrictionCode"
            locales="$ctrl.mdEditLocales.locales">
            </md-form-element> -->
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- dataLegalAccessConstraints -->
        <md-form-element type="select" multi="true" md="$ctrl.legalConstraints.dataLegalAccessConstraints" field="$ctrl.field.dataLegalAccessConstraints" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.listRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- dataLegalUseConstraints -->
        <md-form-element type="select" multi="true" md="$ctrl.legalConstraints.dataLegalUseConstraints" field="$ctrl.field.dataLegalUseConstraints" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.listRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- dataLegalUseLimitations -->
        <md-form-element type="textarea" multi="true" md="$ctrl.legalConstraints.dataLegalUseLimitations" field="$ctrl.field.dataLegalUseLimitations" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div>