<div id="content" class="container-fluid mt-3">

    <div class="row">
        <div class="flex-column border-secondary border-right pl-2 col-3">
            <div class="col-12 text-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-sm btn-outline-secondary" ng-class="{'active': $ctrl.simpleView}">
                        <input type="radio" name="view" id="view-simple"autocomplete="off" checked ng-click="$ctrl.showSimpleView(true)">Vue simple
                    </label>
                    <label class="btn btn-sm btn-outline-secondary" ng-class="{'active': !$ctrl.simpleView}">
                        <input type="radio" name="view" id="view-complete"autocomplete="off" ng-click="$ctrl.showSimpleView(false)">Vue complète
                    </label>
                </div>
            </div>
            <div class="nav nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" ng-class="{'active': tab.active, 'disabled text-dark font-weight-bold': tab.disabled, 'ng-hide': $ctrl.simpleView && tab.advanced}" href role="tab" ng-click="$ctrl.changeTab(tab.id)" ng-repeat="(index, tab) in $ctrl.tabs" uib-tooltip="{{tab.description}}" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter" tooltip-placement="right">
                    {{tab.title}}
                </a>
            </div>
        </div>
        <div class="tab-content col-9" id="v-pills-tabContent">

            <uib-tabset active="$ctrl.active" vertical="true" type="pills">
                <form name="mdForm" novalidate>

                    <uib-tab index="1" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[1].title}}</h3>
                            <!-- dataTitle -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataTitle" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <!-- dataAbstract -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataAbstract" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <!-- dataIdentifiers -->
                                    <md-form-identifiers multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataIdentifiers" label="true" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-identifiers>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <!-- dataBrowseGraphics -->
                                    <md-form-browsegraphics multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataBrowseGraphics" label="true" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-browsegraphics>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <!-- dataDates -->
                                    <md-form-dates multi="false" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataDates" label="true" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-dates>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <!-- dataMaintenanceFrequencyCode -->
                                    <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataMaintenanceFrequency" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_MaintenanceFrequencyCode"
                                        locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <hr />
                            <div class="row" ng-hide="$ctrl.simpleView">
                                <div class="col-md-12">
                                    <!-- dataTemporalExtents -->
                                    <md-form-temporalextents multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataTemporalExtents" label="true" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-temporalextents>
                                </div>
                            </div>
                            <hr />
                            <div class="row" ng-hide="$ctrl.simpleView">
                                <!-- dataLanguages -->
                                <div class="col-md-6 form-group">
                                    <md-form-element type="select" multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLanguages" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_LanguageCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <!-- dataTopicCategories -->
                                <div class="col-md-6 form-group">
                                    <md-form-element type="select" multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataTopicCategories" label="true" list="$ctrl.mdEditLocales.codelists.MD_TopicCategoryCode" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                                <!-- dataInspireKeywords -->
                                <div class="col-md-6 form-group">
                                    <md-form-inspirekeywords type="select" multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataInspireKeywords" label="true" hide-title="true" list="$ctrl.mdEditLocales.codelists.MD_InspireTopicCategoryCode" update="$ctrl.update(space, field, fieldValue)"
                                        locales="$ctrl.mdEditLocales.locales">
                                    </md-form-inspirekeywords>
                                </div>
                            </div>
                            <hr />
                            <!-- dataKeywordsList -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <!-- dataKeywords -->
                                    <md-form-keywords multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataKeywords" label="true" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_KeywordTypeCode" locales="$ctrl.mdEditLocales.locales"></md-form-keywords>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="2" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[2].title}}</h3>
                            <!-- dataPointOfContacts -->
                            <md-form-contacts multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataPointOfContacts" lists="$ctrl.mdEditLocales.codelists" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-contacts>
                        </div>
                    </uib-tab>

                    <uib-tab index="3" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[3].title}}</h3>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <!-- dataSpatialRepresentationType -->
                                    <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataSpatialRepresentationType" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_SpatialRepresentationTypeCode"
                                        locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- dataGeographicExtents -->
                                    <md-form-geographicextents multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataGeographicExtents" label="true" extents-file="{{$ctrl.extentsFile}}" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-geographicextents>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <!-- dataReferenceSystems -->
                                    <md-form-referencesystems multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataReferenceSystems" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_ReferenceSystemCode"
                                        locales="$ctrl.mdEditLocales.locales"></md-form-referencesystems>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <md-form-spatialresolution md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataSpatialResolution" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales">
                                        </md-form-element>
                                </div>
                            </div>
                            <!-- dataLiStatement -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <md-form-element type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLiStatement" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <!-- dataUseLimitations -->
                            <div class="row" ng-hide="$ctrl.simpleView">
                                <div class="col-md-12 form-group">
                                    <md-form-constraints type="textarea" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataUseLimitations" label="true" edit="true" space="md" multi="true" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-constraints>
                                </div>
                            </div>
                            <!-- dataCharacterSet -->
                            <div class="row" ng-hide="$ctrl.simpleView">
                                <div class="col-md-12 form-group">
                                    <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataCharacterSet" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_CharacterSetCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <!-- dataDistributionFormats -->
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <md-form-distributionformats multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.dataDistributionFormats" label="true" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-distributionformats>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab index="4" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[4].title}}</h3>
                            <!-- dataSecurityClassification -->
                            <!-- NO MANDATORY FOR PUBLIC AND OPEN DATA -->
                            <div class="row" ng-hide="true">
                                <div class="col-md-12 form-group">
                                    <md-form-securityconstraints md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataSecurityClassification" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_ClassificationCode" locales="$ctrl.mdEditLocales.locales"></md-form-securityconstraints>
                                </div>
                            </div>
                            <!-- dataLegalConstraints -->
                            <md-form-legalconstraints-opendata md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLegalConstraints" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list-restriction-code="$ctrl.mdEditLocales.codelists.MD_RestrictionCode" list-inspire-restriction-code="$ctrl.mdEditLocales.codelists.MD_InspireRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-legalconstraints-opendata>
                        </div>
                    </uib-tab>

                    <uib-tab index="5" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[5].title}}</h3>
                            <md-form-linkages multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataLinkages" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" protocols="$ctrl.mdEditLocales.codelists.MD_LinkageProtocolCode" locales="$ctrl.mdEditLocales.locales"></md-form-linkages>
                        </div>
                    </uib-tab>

                    <uib-tab index="6" class="d-none">
                        <h3 class="mb-3">{{$ctrl.tabs[6].title}}</h3>
                        <div>
                            <md-form-inspireconformities multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataDqInspireConformities" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" specifications="$ctrl.mdEditLocales.codelists.MD_InspireSpecificationCode"
                                pass="$ctrl.mdEditLocales.codelists.MD_PassCode" locales="$ctrl.mdEditLocales.locales">
                            </md-form-inspireconformities>
                        </div>
                        <hr />
                        <div>
                            <md-form-conformities multi="true" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.dataDqConformities" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" pass="$ctrl.mdEditLocales.codelists.MD_PassCode" locales="$ctrl.mdEditLocales.locales">
                            </md-form-conformities>
                        </div>
                    </uib-tab>

                    <uib-tab index="8" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[8].title}}</h3>
                            <!-- mdContacts -->
                            <md-form-contacts multi="true" md="$ctrl.mdjs" space="md" field="$ctrl.mdEditLocales.fields.mdContacts" lists="$ctrl.mdEditLocales.codelists" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales">
                            </md-form-contacts>
                        </div>
                    </uib-tab>

                    <uib-tab index="9" class="d-none">
                        <div>
                            <h3 class="mb-3">{{$ctrl.tabs[9].title}}</h3>
                            <div class="row">
                                <!-- mdFileIdentifier -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdFileIdentifier" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                                <!--mdHierarchyLevel -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdHierarchyLevel" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_ScopeCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                                <!-- mdStandardName -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdStandardName" label="true" edit="false" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <div class="row">
                                <!-- mdParentIdentifier -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdParentIdentifier" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales">
                                    </md-form-element>
                                </div>
                                <!-- mdCharacterSet -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="select" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdCharacterSet" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_CharacterSetCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                                <!-- mdStandardVersion -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="text" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdStandardVersion" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                            <div class="row">
                                <!-- mdLanguage -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="select" multi="false" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdLanguage" label="true" edit="true" space="md" update="$ctrl.update(space, field, fieldValue)" list="$ctrl.mdEditLocales.codelists.MD_LanguageCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                                <!-- mdDateStamp -->
                                <div class="col-md-4 form-group">
                                    <md-form-element type="date" md="$ctrl.mdjs" field="$ctrl.mdEditLocales.fields.mdDateStamp" label="true" edit="true" space="md" value="$ctrl.currentDate" update="$ctrl.update(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
                                </div>
                            </div>
                        </div>
                    </uib-tab>

                </form>
            </uib-tabset>
        </div>
    </div>
</div>
<!-- {{$ctrl.mdjs}} -->