<!-- if format = button -->
<button type="button" ng-if="$ctrl.format == 'button'" class="btn btn-outline-dark" ng-click="$ctrl.open()">
    <i class="fas {{$ctrl.icon}}">
    </i> <span class="d-none d-lg-inline">{{$ctrl.text}}</span>
</button>
<!-- if format = icon -->
<a href class="text-dark" ng-if="$ctrl.format == 'icon'" ng-click="$ctrl.open()">
    <i class="fas {{$ctrl.icon}}">
    </i>
</a>
<!-- else if format = text -->
<a href="" ng-if="$ctrl.format == 'text'" class="navbar-link" ng-click="$ctrl.open()">{{$ctrl.text}}</a>