/* 
@import "fonts";
@import "forms";
@import "loading-bar";
*/
@import "../styles/global";
@import "../styles/loading-bar";

root {
    display: block;
    .loader {
        position: absolute;
        top: 40%;
        left: 45%;
        text-align: center;
    }
}