
<!-- dataLegalAccessInspireConstraints -->
<!-- <div class="row">
    <div class="col-md-12">
        <md-form-element type="select" multi="true" md="$ctrl.legalConstraints.dataLegalAccessInspireConstraints" field="$ctrl.field.dataLegalAccessInspireConstraints" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.listInspireRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div> -->
<!-- dataLegalAccessConstraints -->
<!-- <div class="row">
    <div class="col-md-12">
        <md-form-element type="select" multi="true" md="$ctrl.legalConstraints.dataLegalAccessConstraints" field="$ctrl.field.dataLegalAccessConstraints" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.listRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div> -->
<!-- dataLegalUseConstraints -->
<div class="row">
    <div class="col-md-12">
        <md-form-element type="select" multi="true" md="$ctrl.legalConstraints.dataLegalUseConstraints" field="$ctrl.field.dataLegalUseConstraints" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.listRestrictionCode" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div>
<!-- dataLegalUseLimitations -->
<div class="row">
    <div class="col-md-12">
        <md-form-element type="textarea" multi="true" md="$ctrl.legalConstraints.dataLegalUseLimitations" field="$ctrl.field.dataLegalUseLimitations" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" locales="$ctrl.mdEditLocales.locales"></md-form-element>
    </div>
</div>