<div class="form-group has-feedback" ng-class="$ctrl.isValidField(0) ? '' : 'has-error'">
    <div uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="top-left">
        <span class="h5">{{$ctrl.field.label}}</span>
        <page-modal-button ng-if="$ctrl.field.helpButton.contentUrl" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}"
            text="{{$ctrl.field.helpButton.text}}" content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}"></page-modal-button>
        <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.onAddExtent()"></button>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="control-label" for="{{$ctrl.field.temporalExtent.temporalExtenttemporalExtentBegin.name}}" uib-tooltip="{{$ctrl.field.temporalExtent.temporalExtentBegin.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.temporalExtent.temporalExtentBegin.label}}
                <page-modal-button format="{{$ctrl.field.temporalExtent.temporalExtentBegin.helpButton.format}}" title="{{$ctrl.field.temporalExtent.temporalExtentBegin.helpButton.title}}"
                    text="{{$ctrl.field.temporalExtent.temporalExtentBegin.helpButton.text}}" content-url="$ctrl.field.temporalExtent.temporalExtentBegin.helpButton.contentUrl"
                    icon="{{$ctrl.field.temporalExtent.temporalExtentBegin.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-3">
            <label class="control-label" for="{{$ctrl.field.temporalExtent.temporalExtentEnd.name}}" uib-tooltip="{{$ctrl.field.temporalExtent.temporalExtentEnd.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.temporalExtent.temporalExtentEnd.label}}
                <page-modal-button format="{{$ctrl.field.temporalExtent.temporalExtentEnd.helpButton.format}}" title="{{$ctrl.field.temporalExtent.temporalExtentEnd.helpButton.title}}"
                    text="{{$ctrl.field.temporalExtent.temporalExtentEnd.helpButton.text}}" content-url="$ctrl.field.temporalExtent.temporalExtentEnd.helpButton.contentUrl"
                    icon="{{$ctrl.field.temporalExtent.temporalExtentEnd.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-5">
            <label class="control-label" for="{{$ctrl.field.temporalExtent.extentName.name}}" uib-tooltip="{{$ctrl.field.temporalExtent.extentName.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.temporalExtent.extentName.label}}
                <page-modal-button format="{{$ctrl.field.temporalExtent.extentName.helpButton.format}}" title="{{$ctrl.field.temporalExtent.extentName.helpButton.title}}"
                    text="{{$ctrl.field.temporalExtent.extentName.helpButton.text}}" content-url="$ctrl.field.temporalExtent.extentName.helpButton.contentUrl"
                    icon="{{$ctrl.field.temporalExtent.extentName.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-1">
            <!-- <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.onAddExtent()"></button> -->
        </div>
    </div>
    <md-form-temporalextent ng-repeat="(key, temporalextent) in $ctrl.temporalextents track by $index"
        multi="{{$ctrl.multi}}" temporalextent="temporalextent" fields="$ctrl.field.temporalExtent" update-extent="$ctrl.updateExtents(key, temporalextent)" key="{{key}}" remove-extent="$ctrl.onRemoveExtent(key)" locales="$ctrl.locales"></md-form-temporalextent>
</div>