<div class="container-fluid">
    <div ng-if="$ctrl.tpl == 'grid'" infinite-scroll="$ctrl.getMoreRecords(true)" infinite-scroll-distance="1" infinite-scroll-disabled="$ctrl.getMoreBusy">
        <div style="min-height:410px" class="md_grid_item col-lg-2 col-md-3 col-sm-4 col-xs-12 clearfix" ng-repeat="md in $ctrl.records | getValue:'getRecords':'mdList' track by $index">
            <csw-card tpl="grid" md="md" topic-categories="$ctrl.topicCategories" on-click-card="$ctrl.onViewMd(mdFileIdentifier, mdHierarchyLevel, keywords)"
                locales="$ctrl.locales.ui.cardGrid"></csw-card>
        </div>
    </div>
    <div ng-if="$ctrl.tpl == 'list'" infinite-scroll="$ctrl.getMoreRecords(true)" infinite-scroll-distance="1" infinite-scroll-disabled="$ctrl.getMoreBusy">
        <div class="row md_list_item" ng-repeat="md in $ctrl.records | getValue:'getRecords':'mdList' track by $index">
            <csw-card tpl="list" md="md" topic-categories="$ctrl.topicCategories" on-click-card="$ctrl.onViewMd(mdFileIdentifier, mdHierarchyLevel, keywords)"
                locales="$ctrl.locales.ui.cardList"></csw-card>
        </div>
    </div>
</div>