<div class="form-group has-feedback" ng-class="$ctrl.isValidField() ? '' : 'has-error'">
    <div ng-if="$ctrl.hideTitle !== 'true'" class="w-100">
        <span class="h5" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right" ng-class="$ctrl.isValid() ? '' : 'text-danger font-weight-bold'">{{$ctrl.field.label}}</span>
        <page-modal-button ng-if="$ctrl.field.helpButton.contentUrl" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}"
            text="{{$ctrl.field.helpButton.text}}" content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}"></page-modal-button>
        <!-- <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.onAddInspirekeyword()"></button> -->
    </div>
    <div class="row">
        <div class="col-md-6 form-group has-feedback">
            <!-- dataScaleDenominator -->
            <md-form-element type="text" md="$ctrl.md"
                field="$ctrl.field.scale.dataScaleDenominator" label="true" edit="true"
                space="md" update="$ctrl.updateResolution(space, field, fieldValue)"
                locales="$ctrl.mdEditLocales.locales" valid="true"></md-form-element>
        </div>
        <div class="col-md-6 form-group has-feedback">
            <!-- dataScaleDistance -->
            <md-form-element type="text" md="$ctrl.md"
                field="$ctrl.field.scale.dataScaleDistance" label="true" edit="true"
                space="md" update="$ctrl.updateResolution(space, field, fieldValue)"
                locales="$ctrl.mdEditLocales.locales" valid="true"></md-form-element>
        </div>
    </div>
</div>