<div class="container">

    <div class="row">
        <div class="col-md-7">
            <h1 class="mb-4">Bienvenue sur mdEdit 2!</h1>
            <p class="lead text-muted">
                mdEdit permet de décrire simplement vos données géographiques conformément à la règlementation en vigueur (directive européenne Inspire et open data).
            </p>
            <p>
                C'est une application conviviale et facile d'utilisation.
                <br /> Elle nécessite cependant quelques connaissances en matière de géomatique pour remplir les fiches de façon optimale (système de projection, emprise géographique, etc.).
            </p>
            <p class="alert alert-primary my-4" role="alert">
                <i class="fas fa-check"></i> Choisissez un modèle de formulaire dans la liste de droite et c'est partie!
                <br /> Il ne vous reste plus qu'à saisir les information demandées.
            </p>
            <p>
                <i class="far fa-hand-point-right text-primary"></i> mdEdit 2 vous permet à tout moment de sauvegarder votre travail au format XML (ISO 19139) et de recharger une fiche pour la modifier ou la compléter.
            </p>
            <p>
                <i class="far fa-hand-point-right text-primary"></i> Vous pouvez sauver une fiche partiellement remplie pour la recharger ultérieurement comme base de travail.
            </p>
            <p>
                <i class="far fa-hand-point-right text-primary"></i> Vous pouvez également changer de vue à tout moment via la liste de sélection en haut à droite du formulaire. Attention cependant, si vous revenez sur l page d'accueil, l'ensemble des
                informations saisies sont permdues.
            </p>
            <p class="mt-4">
                Pour plus d'information sur son utilisation, n'hésitez pas à consulter l'aide en ligne (bouton <i class="fas fa-info-circle"></i> en haut à droite).
            </p>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h5>Modèles de formulaires disponibles</h5>
                </div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action" ng-repeat="view in $ctrl.appConfig.app.changeview.list track by $index" ui-sref="app.{{view}}({url:$ctrl.appConfig.models[$ctrl.appConfig.views[view].model].file})" ui-sref-opts="{reload: true, inherit: true, notify: true }">
                        <div class="text-dark card-link">
                            <i class="{{$ctrl.appConfig.views[view].icon}}"></i> {{$ctrl.appConfig.views[view].name[$ctrl.appConfig.app.lang]}}
                        </div>
                        <div><em class="small">{{$ctrl.appConfig.views[view].description[$ctrl.appConfig.app.lang]}}</em></div>
                        <div>
                            <span class="small" ng-if="$ctrl.appConfig.views[view].model">
                                Modèle par défaut:
                                {{$ctrl.appConfig.models[$ctrl.appConfig.views[view].model].name | lowercase}}
                            </span>
                        </div>
                        <div>
                            <span class="small" ng-if="!$ctrl.appConfig.views[view].model">
                                Aucun modèle par défaut défini
                            </span>
                        </div>
                    </a>
                    <a class="list-group-item list-group-item-action" ng-if="$ctrl.homeAuth.sec_editor" ui-sref="app.mdList()" ui-sref-opts="{reload: true, inherit: true, notify: true }">
                        <div class="text-dark card-link">
                            <i class="{{$ctrl.appConfig.views.mdList.icon}}"></i> {{$ctrl.appConfig.views.mdList.name[$ctrl.appConfig.app.lang]}}
                        </div>
                        <div><em class="small">{{$ctrl.appConfig.views.mdList.description[$ctrl.appConfig.app.lang]}}</em></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>