<!-- dataSecurityClassification -->
<!-- {{$ctrl.field}} -->
<!-- <md-form-element type="select" md="$ctrl.classification" field="$ctrl.field" label="true" edit="true" space="md" update="$ctrl.updateConstraints(space, field, fieldValue)" list="$ctrl.list" locales="$ctrl.mdEditLocales.locales"></md-form-element> -->

<!-- dataUseLimitations -->
<!-- {{$ctrl.useLimitations}} -->
<md-form-element type="textarea" md="$ctrl.useLimitations" field="$ctrl.field" label="true" edit="true" space="md" multi="true" update="$ctrl.updateConstraints(space, field, fieldValue, key)" locales="$ctrl.mdEditLocales.locales">
</md-form-element>