<div id="content" class="container">

    <div uib-accordion close-others="false" class="col col-sm-12 panel-group">
        <form name="mdForm" novalidate>

            <!-- Panel 1 -->
            <!-- <div edit-accordion-header showfields="vm.showAllFields"
                header="Informations sur la fiche de métadonnées"
                tooltip="Informations sur la fiche de métadonnées"
                doc="empty"> -->
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Informations sur la fiche de métadonnées" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter"
                        tooltip-placement="right">
                        Informations sur la fiche de métadonnées
                    </span>
                    <!-- <span class="bt-doc glyphicon glyphicon-info-sign" aria-hidden="true" ng-click="vm.openModalDoc('empty')"></span> -->
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <div class="row">
                        <!-- <div class="col-md-4 form-group">
                            <div edit-input label="FileId:" description="null" placeholder="File id" id="mdFileIdentifier" field="mdFileIdentifier"></div>
                        </div> -->
                        <!-- metadata.mdFileIdentifier -->
                        <div class="col-md-4 form-group">
                            <md-form-input field-value="$ctrl.getValue('mdFileIdentifier')" field="$ctrl.mdFormLocales.fields.mdFileIdentifier" edit="true"
                                update="$ctrl.update(field, fieldValue)"></md-form-input>
                        </div>
                        <div class="col-md-4 form-group">
                            <md-form-input tpl="" field-value="$ctrl.mdjs | getValue:'dataTitle'" field="$ctrl.mdFormLocales.fields.dataTitle" edit="false"
                                update="$ctrl.update(field, fieldValue)"></md-form-input>
                        </div>
                        <div class="col-md-4 form-group">
                            <md-form-textarea field-value="$ctrl.mdjs | getValue:'dataAbstract'" field="$ctrl.mdFormLocales.fields.dataAbstract" edit="true"
                            update="$ctrl.update(field, fieldValue)"></md-form-textarea>
                        </div>
                        <div class="col-md-4 form-group">
                            <md-form-select field-value="$ctrl.mdjs | getValue:'mdHierarchyLevel'" field="$ctrl.mdFormLocales.fields.mdHierarchyLevel" edit="true"
                            update="$ctrl.update(field, fieldValue)" list="$ctrl.mdFormLocales.codelists.MD_ScopeCode"></md-form-select>
                        </div>
                    </div>
                </div>
            </div>
            <div uib-accordion-group is-open="true" class="panel-primary">
                <div uib-accordion-heading>
                    <span uib-tooltip="Contacts pour la fiche de métadonnées" tooltip-popup-close-delay="100" tooltip-trigger="mouseenter"
                        tooltip-placement="right">
                        Contacts pour la fiche de métadonnées
                    </span>
                    <span class="glyphicon glyphicon-resize-vertical pull-right"></span>
                </div>
                <div>
                    <!-- -- {{$ctrl.mdjs | getValue:'mdContacts'}} -->
                    <md-form-contacts contacts="$ctrl.mdjs | getValue:'mdContacts'" field="$ctrl.mdFormLocales.fields.mdContacts" codelists="$ctrl.mdFormLocales.codelists" on-update="$ctrl.update(field, fieldValue)"></md-form-contacts>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- {{$ctrl.test}} -->
{{$ctrl.mdjs}}