<!-- <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.close()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title" id="modal-title">{{$ctrl.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
    <div id="content" class="container-fluid" ng-bind-html="$ctrl.content"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.close()">OK</button>
</div> -->

<!-- Modal edit-->
<form id="modal-edit-form">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Get XML</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <textarea class="form-control" id="xml-content" name="xml-content" placeholder="XML content" ng-model="$ctrl.mdxml"></textarea>
            <!--<input type="hidden" class="" id="txt-note-id" name="txt-note-id" ng-model="note">-->
        </div>
        <!-- <ul ng-show="$ctrl.errors">
            <li ng-repeat="error in $ctrl.errors" ng-if="$ctrl.md_errors[error] != ''">[{{error}}] - {{$ctrl.md_errors[error]}}</li>
        </ul> -->
        <!-- <div ng-show="!$ctrl.md.url">
            {{$ctrl.ui.modal_download.no_server}}
        </div> -->
        <!-- <div ng-show="$ctrl.sec.editor">
            Vous êtes connecté en tant que {{$ctrl.sec.username}} ({{$ctrl.sec.email}}) sur la plateforme. Vous pouvez envoyer directement le fichier XML ({{$ctrl.md.filename}}.xml) dans votre dossier de métadonnées (metadata/{{$ctrl.sec.org}}/{{$ctrl.md.filename}}/).
        </div> -->
    </div>
    <div class="modal-footer">
        <!-- <div class="btn-group" uib-dropdown ng-show="$ctrl.sec.editor">
            <button type="button" class="btn btn-primary" aria-expanded="false" ng-click="$ctrl.uploadXml(modal.md.filename)">
                <span class="glyphicon glyphicon-upload"></span> Téléverser le fichier
            </button>
        </div> -->
        <!-- <div class="btn-group" uib-dropdown ng-show="$ctrl.md.url">
            <button type="button" class="btn btn-primary" uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-download"></span> Télécharger le fichier
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href="php/index.php?act=downloadXML&url={{modal.md.url}}" target="_blank">Format XML</a></li> -->
        <!-- <li ng-show="modal.sec.username"><a href="php/index.php?act=sendXML&filename={{modal.md.filename}}" target="_blank">Envoyer XML</a></li>
                <li role="separator" class="divider"></li>
                <li class="disabled"><a href="php/index.php?act=downloadJSON&url={{modal.md.url}}" target="_blank">Format JSON</a></li>
                <li class="disabled"><a href="php/index.php?act=downloadXLSX&url={{modal.md.url}}" target="_blank">Format XLSX</a></li> -->
        <!-- </ul>
        </div> -->
        <!-- <div class="btn-group" uib-dropdown ng-hide="$ctrl.md.url">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                <span class="glyphicon glyphicon-download"></span> Download file
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a href="#" ng-click="$ctrl.saveXml()" target="_blank">Format XML</a></li>
            </ul>
        </div> -->
        <button type="button" class="btn btn-primary" ng-click="$ctrl.saveXml()"><span class="glyphicon glyphicon-save"></span> Download</button>
        <button type="button" class="btn btn-primary" ng-click="$ctrl.cancel()"><span class="glyphicon glyphicon-close"></span> Close</button>
    </div>
</form>