<div class="form-group has-feedback" ng-class="$ctrl.isValidField(0) ? '' : 'has-error'">
    <!-- <label ng-if="$ctrl.label.toLowerCase() == 'true'" class="control-label" for="{{$ctrl.field.name}}" uib-tooltip="{{$ctrl.field.description}}"
        tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
        {{$ctrl.field.label}}
        <page-modal-button ng-if="$ctrl.field.helpButton.contentUrl" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}"
            text="{{$ctrl.field.helpButton.text}}" content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}">
        </page-modal-button>
    </label> -->
    <div class="w-100">
        <span class="h5" uib-tooltip="{{$ctrl.field.description}}" tooltip-trigger="mouseenter" tooltip-placement="right">{{$ctrl.field.label}}</span>
        <page-modal-button ng-if="$ctrl.field.helpButton.contentUrl" format="{{$ctrl.field.helpButton.format}}" title="{{$ctrl.field.helpButton.title}}"
            text="{{$ctrl.field.helpButton.text}}" content-url="$ctrl.field.helpButton.contentUrl" icon="{{$ctrl.field.helpButton.icon}}"></page-modal-button>
        <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.onAddLinkage()"></button>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label class="control-label" for="{{$ctrl.field.linkage.linkageName.name}}" uib-tooltip="{{$ctrl.field.linkage.linkageName.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.linkage.linkageName.label}}
                <page-modal-button format="{{$ctrl.field.linkage.linkageName.helpButton.format}}" title="{{$ctrl.field.linkage.linkageName.helpButton.title}}"
                    text="{{$ctrl.field.linkage.linkageName.helpButton.text}}" content-url="$ctrl.field.linkage.linkageName.helpButton.contentUrl"
                    icon="{{$ctrl.field.linkage.linkageName.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-3">
            <label class="control-label" for="{{$ctrl.field.linkage.linkageDescription.name}}" uib-tooltip="{{$ctrl.field.linkage.linkageDescription.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.linkage.linkageDescription.label}}
                <page-modal-button format="{{$ctrl.field.linkage.linkageDescription.helpButton.format}}" title="{{$ctrl.field.linkage.linkageDescription.helpButton.title}}"
                    text="{{$ctrl.field.linkage.linkageDescription.helpButton.text}}" content-url="$ctrl.field.linkage.linkageDescription.helpButton.contentUrl"
                    icon="{{$ctrl.field.linkage.linkageDescription.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-3">
            <label class="control-label" for="{{$ctrl.field.linkage.linkageUrl.name}}" uib-tooltip="{{$ctrl.field.linkage.linkageUrl.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.linkage.linkageUrl.label}}
                <page-modal-button format="{{$ctrl.field.linkage.linkageUrl.helpButton.format}}" title="{{$ctrl.field.linkage.linkageUrl.helpButton.title}}"
                    text="{{$ctrl.field.linkage.linkageUrl.helpButton.text}}" content-url="$ctrl.field.linkage.linkageUrl.helpButton.contentUrl"
                    icon="{{$ctrl.field.linkage.linkageUrl.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-2">
            <label class="control-label" for="{{$ctrl.field.linkage.linkageProtocol.name}}" uib-tooltip="{{$ctrl.field.linkage.linkageProtocol.description}}"
                tooltip-trigger="mouseenter" tooltip-placement="right" ng-dblclick="$ctrl.changeEdit(0)">
                {{$ctrl.field.linkage.linkageProtocol.label}}
                <page-modal-button format="{{$ctrl.field.linkage.linkageProtocol.helpButton.format}}" title="{{$ctrl.field.linkage.linkageProtocol.helpButton.title}}"
                    text="{{$ctrl.field.linkage.linkageProtocol.helpButton.text}}" content-url="$ctrl.field.linkage.linkageProtocol.helpButton.contentUrl"
                    icon="{{$ctrl.field.linkage.linkageProtocol.helpButton.icon}}">
                </page-modal-button>
            </label>
        </div>
        <div class="col-md-1">
            <!-- <button type="button" class="btn btn-outline-dark btn-sm float-right fas fa-plus" aria-hidden="true" ng-click="$ctrl.onAddLinkage()"></button> -->
        </div>
    </div>
    <!-- {{$ctrl.linkages}} -->
    <md-form-linkage ng-repeat="(key, linkage) in $ctrl.linkages track by $index" multi="{{$ctrl.multi}}" linkage="linkage"
        fields="$ctrl.field.linkage" update-linkage="$ctrl.updateLinkages(key, linkage)" key="{{key}}" remove-linkage="$ctrl.onRemoveLinkage(key)"
        protocols="$ctrl.protocols" locales="$ctrl.locales"></md-form-linkage>
</div>